html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #F5F8E3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
}
*,*:before,*:after{
    box-sizing:border-box; 
}
img{
    max-width:100%;
    height:auto;
}
a,a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color:inherit;
}
h1{
    display: none;
}

#goTop{
    color: #fff;
    background:#000;
    text-align:center;
    position:fixed;
    bottom: 50px;
    right:20px;
    width:50px;
    height:50px;
    line-height:50px;
    cursor:pointer;/*滑鼠顯示成手勢*/
    border-radius: 100%;
    
    display:none;
    
    -webkit-box-shadow: #b9b9b9 0 0 5px;
    -moz-box-shadow: #b9b9b9 0 0 5px;
    box-shadow: #b9b9b9 0 0 5px;
}

#goTop:hover{
    background:#fff;
    color:#000;
}

.wrap{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}
.header{

}
h2{
    text-align: center;
    font-size: 35px;
    padding: 2%;
}
h2 span{
    font-size: 16px;
    color: #aaa;
}
.menu{
    float: right;
}
.menu a{
    text-decoration: none;
    padding: .5em 0;
    display: block;
    text-align: center;
    transition: all .3s;
    color: #222120;
}
.menu a:hover,.menu a.active{
    background: #222120;
    color: #fff;
}
/*>僅為menu裡面第一層li*/
.menu > li{
    float: left;
    width: 100px;
    position: relative;

}
.menu ul{
    display: none;
    position: absolute;
}
.menu > li:hover ul{
    display: block;
}
.bigBanner{
    width: 100%;
    overflow: hidden;
}
.content{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    flex-wrap: wrap;
}
.bannerimgbox{
    margin: 1%;
    width: 31%;
    text-align: center;
}
.indeximgbox{
    margin: 1%;
    width: 45%;
    text-align: center;
}
.content img{
    width: 100%;
    padding-bottom: 5%;
}
.footer{
    margin: 0 auto;
    bottom: 0;
    text-align: center;
    padding: .5em 0;
    line-height: 24px;　　
}
.spacing{
    padding-bottom: 10%;
}






